
    
.topnav {
    background-color: #CDF7B0;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: green;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
    padding: 25px 25px 25px 25px;
}



body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.fa-search {
	position: absolute;
    top: 60%;
    right: 2px;
    margin-top: 10px;
	float: right;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 20%;
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
}





img {
    max-width: 100%;
    height: auto;
}

.icon {
	float:left;
	display: inline;
	max-width: 100px;
	height: auto;
	width: auto;
}
h2 {
	float: left;
	margin-top: 15;
	color: green;
}
.image {
	width: 500px;
	height: 300px;
	margin: 20px;
	float: left;
}
.box {
	display: inline;
}
h1 {
	font: arial;
	text-align: left;
	font-size: 40px;
	color: green;
	margin-top: 80px;
}
span {
	color: blue;
}
button {
    background-color: orange;
	padding: 15px;
	color: black;
	float:left;
	font-size: 25px;
	margin: 10px;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: powderblue;
	text-align: center;
	padding: 15px;
	width: 100%;
}
.baby {
	background-color: powderblue;
	padding: 15px 55px 15px 55px;
}